*{
    margin: 0;
}

.contenedor{
    background-image: url(./WhatsApp\ Image\ 2023-05-28\ at\ 11.13.08\ PM.jpeg);
    /* background: rgb(255, 124, 124); */
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: white;
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
    border: none;
    border-radius: 10px;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}
